<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ADMINISTRADOR DE OBRAS PUBLICAS</h1>
    <form action="/create" method="post">
      <label for="id">Id</label>
      <input type="text" name="id" id="id" >
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre">
      <label for="precio">Precio</label>
      <input type="text" name="precio" id="precio">
      <label for="año">Año</label>
      <input type="text" name="año" id="año">
      <button type="button" id="guardar">Agregar</button>
    </form>
    <br>
    <table id="table">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Año</th>
        <th>Opciones</th>
      </thead>

      <tbody id="t-body">

      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
