body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, tr, td{
  border: 1px solid rgb(216, 55, 55);
}

h1{
  color: #00B7FF;
}

input{
  padding: 5px;
  background-color: antiquewhite;
}